__pycache__/
*.pyc
.DS_Store

.conda/
*.pt
*.pth
*onnx

venv/
outputs_googlenet/
outputs_vgg16/

adversarial/input_adversarial/
adversarial/results_clean/
adversarial/results_adversarial/
*.pdf

biased_model/data_collection.py

*.pptx

biased_model/dataset
